body,
#calculator
{
    background-color: #0f0e0e;
}
body
{
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator
{
    margin: auto;
    border: 2px solid grey;
    padding: 8px;
    width: 300px;
    height: 400px;
}
.flexbox-column
{
    display: flex;
    flex-direction: column;
}
.flexbox-row
{
    display: flex;
    flex-direction: row;
}
#operations > *,
.row > *
{
    flex: 1 1 0;
}
#operations,
.row
{
    gap: 1px;
}   
button
{
    border: 1px solid black;
}
#input-zone
{
    height: 30px;
    margin-bottom: 5px;
}
#history
{
    flex: 1 1 0;
    justify-content: end;
    gap: 5px;
    margin-bottom: 5px;
}
#history > *
{
    height: 25px;
    border: 1.5px solid #3e3e42;
}
#history > *:hover
{
    border: 1.5px solid rgb(255, 60, 0);
}